name: Linux

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  setup:
    runs-on: ubuntu-20.04

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Setup pipenv
        run: python -m pip install --upgrade pipenv

      - name: Install dependencies using pipenv
        run: cd $GITHUB_WORKSPACE && python -m pipenv install --dev


  build:
    runs-on: ubuntu-20.04
    needs: setup

    steps:
      # Runs a single command using the runners shell
      - name: Run Buildnis
        run: cd $GITHUB_WORKSPACE && ls -l && python -m buildnis ./test_project/project_config.json -vv --gen conf_out --log


